{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="fish-div">
    <img src="{% static '{{fish.img}}' %}" class= "fish-img">
    <p class="fish-name">Name: {{fish.name}}</p>
    <p>Season: {{fish.season}}</p>
    <p>Citation: {{fish.citation}}</p>
    <p>Key Identifiers: {{fish.identifiers}}</p>
    <p>Found In: {{fish.found_in}}</p>
    <p>Regulations:<p>
    <li>Minimum Size: {{fish.regulations.size_min}}</li>
    <li>Maximum Size: {{fish.regulations.size_max}}</li>
    <li>Minimum Weight (lbs): {{fish.regulations.weight_min}}</li>
    <li>Maximum Weight (lbs): {{fish.regulations.weight_max}}</li> 
    <li>Daily Limit: {{fish.regulations.daily_total}}</li>
</div>
{% endblock %}