{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="fish-div">
    <img src="{% static '{{fish.img}}' %}" class= "fish-img">
    <p class="fish-name">{{fish.name}}</p>

    <div class="season-div">
        <p class='season'>Season: </p>
        <li>{{fish.season}}</li>
    </div>

    <div class='citation-div'>
        <p class='citation'>Citation: </p>
        <li>{{fish.citation}}</li>

    <div class="identifiers-div">
    <p class='identifiers'>Key Identifiers:</p> 
    <li>{{fish.identifiers}}</li>
    </div>

    <div class='found-in-div'>
    <p class='found-in'>Found In: </p>
    <li>{{fish.found_in}}</li>
    </div>

    <div class ="regulation-div">
    <p class="regulation">Regulations:</p>
    <li>Minimum Size: {{fish.regulations.size_min}}</li>
    <li>Maximum Size: {{fish.regulations.size_max}}</li>
    <li>Minimum Weight (lbs): {{fish.regulations.weight_min}}</li>
    <li>Maximum Weight (lbs): {{fish.regulations.weight_max}}</li> 
    <li>Daily Limit: {{fish.regulations.daily_total}}</li>
    </div>
</div>
{% endblock %}