{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="fish-header">
<h2>{{fish.name}}</h2>
<img src="/static/{{fish.img}}" class= "fish-img">
</div>

<div class="fish-div">
    <dl>
        <dt>Season: </dt>
        <dd>{{fish.season}}</dd>
        <dt>Citation:</dt>
        <dd>{{fish.citation}}</dd>
        <dt>State Record:</dt>
        <dd>{{fish.record}}</dd>
        <dt>Key Identifiers:</dt>
        <dd>{{fish.identifiers}}</dd>
        <dt>Regulations:</dt>
        <dd>Minimum Size: {{fish.regulations.size_min}}<br>
            Maximum Size: {{fish.regulations.size_max}}<br>
            Minimum Weight (lbs): {{fish.regulations.weight_min}}<br>
            Maximum Weight (lbs): {{fish.regulations.weight_max}}<br>
            Daily Limit: {{fish.regulations.daily_total}}</dd>
            <dt>Found In: </dt>
            {% for lake in lakes%}
            <a class="button" href="/lake/{{lake.pk}}/">{{lake.name}}</a>
            {% endfor %}
    </dl>
</div>
<p class="footer">Information provided by ncwildlife.org</p>

{% endblock %}