{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="/static/identify.js" defer></script>
{% endblock %}
{% block content %}
<div class="tabs">
    <div class="tabs-pane starter active" id="tab-99">
        Let's figure out what you've caught!
        <nav class="tabs-nav">
        <a id="start" href="#tab-1">Start</a>
        </nav>
    </div>
    
    <div class="tabs-pane questions" id="tab-1">
    Does your fish have whiskers?
        <div class="yes-no">
            <button class="button-lg yes" id="2">Yes</button>
            <button class="button-lg no" id="3">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-10">
    Is your fish pan-shaped with a round body, and a tail sticking off it?
        <div class="yes-no">
            <button class="button-lg yes" id="14">Yes</button>
            <button class="button-lg no" id="13">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-11">
    You caught a Striped Bass!
    <a href="http://fishbytes.herokuapp.com/fish/8/"><img src="{% static 'fish/Striped-Bass-Duane-Raver.jpg' %}"></a>
        <div class="yes-no">
            <button class="button-lg yes" id="end">Yes</button>
            <button class="button-lg no" id="end">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-12">
    You caught a White Bass!
    <a href="http://fishbytes.herokuapp.com/fish/7/"><img src="{% static 'fish/White-Bass-Duane-Raver.jpg' %}"></a>
        <div class="yes-no">
            <button class="button-lg yes" id="end">Yes</button>
            <button class="button-lg no" id="end">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-13">
    Is there a dark band running horizontally across your fish?
        <div class="yes-no">
            <button class="button-lg yes" id="15">Yes</button>
            <button class="button-lg no" id="16">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-14">
    Does your fish have irregular dark spots covering its body?
        <div class="yes-no">
            <button class="button-lg yes" id="17">Yes</button>
            <button class="button-lg no" id="18">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-15">
    You caught a Largemouth Bass!
    <a href="http://fishbytes.herokuapp.com/fish/1/"><img src="{% static 'fish/Largemouth-Bass-Duane-Raver.jpg' %}"></a>
        <div class="yes-no">
            <button class="button-lg yes" id="end">Yes</button>
            <button class="button-lg no" id="end">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-16">
    You caught a Smallmouth Bass!
    <a href="http://fishbytes.herokuapp.com/fish/3/"><img src="{% static 'fish/Smallmouth-Bass-Duane-Raver.jpg' %}"></a>
        <div class="yes-no">
            <button class="button-lg yes" id="end">Yes</button>
            <button class="button-lg no" id="end">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-17">
    You caught a Black Crappie!
    <a href="http://fishbytes.herokuapp.com/fish/16/"><img src="{% static 'fish/Black-Crappie-Duane-Raver.jpg' %}"></a>
        <div class="yes-no">
            <button class="button-lg yes" id="end">Yes</button>
            <button class="button-lg no" id="end">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-18">
    You caught a White Crappie!
    <a href="http://fishbytes.herokuapp.com/fish/5/"><img src="{% static 'fish/White-crappie-Duane-Raver.jpg' %}"></a>
        <div class="yes-no">
            <button class="button-lg yes" id="end">Yes</button>
            <button class="button-lg no" id="end">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-2">
    You caught a Channel Catfish!
    <a href="http://fishbytes.herokuapp.com/fish/6/"><img src="{% static 'fish/ChannelCatfish-Duane-Raver.jpg' %}"></a>
        <div class="yes-no">
            <button class="button-lg yes" id="end">Yes</button>
            <button class="button-lg no" id="end">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-3">
    Does your fish have vertical stripes?
        <div class="yes-no">
            <button class="button-lg yes" id="4">Yes</button>
            <button class="button-lg no" id="5">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-4">
    Are the stripes broad, alternating between yellow and a dark color?
        <div class="yes-no">
            <button class="button-lg yes" id="6">Yes</button>
            <button class="button-lg no" id="7">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-5">
    Does it have horizontal stripes?
        <div class="yes-no">
            <button class="button-lg yes" id="9">Yes</button>
            <button class="button-lg no" id="10">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-6">
    You caught a Yellow Perch!
    <a href="http://fishbytes.herokuapp.com/fish/9/"><img src="{% static 'fish/yellow-perch-Duane-Raver.jpg' %}"></a>
        <div class="yes-no">
            <button class="button-lg yes" id="end">Yes</button>
            <button class="button-lg no" id="end">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-7">
    Is there a dark spot directly behind its gills?
        <div class="yes-no">
            <button class="button-lg yes" id="8">Yes</button>
            <button class="button-lg no" id="1">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-8">
    You caught a Bluegill!
    <a href="http://fishbytes.herokuapp.com/fish/4/"><img src="{% static 'fish/Bluegill-Duane-Raver.jpg' %}"></a>
        <div class="yes-no">
            <button class="button-lg yes" id="end">Yes</button>
            <button class="button-lg no" id="end">No</button>
        </div>
    </div>
    
    <div class="tabs-pane questions" id="tab-9">
    Does it have 2 patches of teeth under its tongue?
        <div class="yes-no">
            <button class="button-lg yes" id="11">Yes</button>
            <button class="button-lg no" id="12">No</button>
        </div>
    </div>
    
</div>
{% endblock %}