{% extends 'base.html' %}
{% block meta %}
<script src="/static/identify.js" defer></script>
{% endblock %}
{% block content %}
<div class="tabs">
    <div class="tabs-pane active" id="tab-99">
        Let's figure out waht you've caught!
        <nav class="tabs-nav">
        <a id="start" href="#tab-1">Start</a>
        </nav>
    </div>
    {% for question in questions %}
    <div class="tabs-pane" id="tab-{{question.pos}}">
    {{question.body}}
        <button class="button yes" id="{{question.yesPos}}">Yes</button>
        <button class="button no" id="{{question.noPos}}">No</button>
    </div>
    {% endfor %}
</div>

{% endblock %}