{% extends 'base.html' %}
{% load static %}

{% block content %}


<br>
<br>
<div class="lake-header">
    <h1>{{ lake.name }}</h1>
    <img src="/static/{{lake.img}}" class= "lake-img">
        <div class="lake-description">
            a description goes here
        </div>
    <h2>Fish In {{lake.name}}</h2>
</div>

<div class="dropdown">
    <button type="button" class="dropdown-trigger">Please Select a Fish</button>
    <div class="dropdown-menu">
        {% for fish in fishes %}
        <a href="/fish/{{fish.pk}}/">{{fish.name}}</a>
        {% endfor %}
    </div>
</div>
<div class="fishes">
    {% for fish in fishes %}
        <div class='fishdeets'>
            <h3>{{ fish.name }}</h3>
            <a href="/fish/{{fish.pk}}/">
                <img class="card-image" src="/static/{{fish.img}}">
            </a>
            <div class="deets">
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
