{% extends 'base.html' %}
{% load static %}
{% load mapbox_location_field_tags %}
{% location_field_includes %}
{% include_jquery %}

{% block content %}
<div>
<head>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css" rel="stylesheet" />
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 7.8rem;
            bottom: 0;
            width: 100%;
        } 
    </style>
</head>

<body>
    <div id="map"></div>

    {% autoescape off %}
    <script>    

    let mapFeatures = {{mapFeatures}}
    let lakeCenter = {{lake_center}}
    </script>
    {% endautoescape %}

    <script>
        mapboxgl.accessToken = "pk.eyJ1IjoibWFjazY2aG0iLCJhIjoiY2s4ZXowYnJmMDFseDNmcGhjbmg4ODc4cyJ9.17aD7Ep5mTEgYqTSKkwzUw";

        let map = new mapboxgl.Map({
            container: "map",
            style: "mapbox://styles/mapbox/outdoors-v11",
            zoom: 9,
            center: lakeCenter
        });
        map.on("load", function () {
            map.loadImage("https://i.imgur.com/MK4NUzI.png", function (error, image) {
                if (error) throw error;
                map.addImage("custom-marker", image);
                map.addLayer({
                    id: "markers",
                    type: "symbol",
                    source: {
                        type: "geojson",
                        data: {
                            type: 'FeatureCollection',
                            features: mapFeatures
                        }
                    },
                    layout: {
                        "icon-image": "custom-marker",
                    }
                });
            });
        });

    </script>
    </div>

{% endblock %}
</html>