{% extends 'base.html' %}
{% load static %}
{% load mapbox_location_field_tags %}
{% location_field_includes %}
{% include_jquery %}

{% block content %}

<div class='profile-header'>
<h3 class='username-profile'>Welcome {{ user.username }}!</h2>
    <a class="button button-block" href= "{% url 'add-catch' %}">
    Add A New Catch
    </a>
</div>

<div class="fishes">
{% for catch in catches.all %}
    <div class='fishdeets'>
        <img src="/static/{{catch.image}}">
        <p class='catch-info'> Fish: {{catch.fish}} </p>
        <p class='catch-info'> Size: {{catch.size}}</p>
        <p class='catch-info'> Weight: {{catch.weight}}</p>
        <p class='catch-info'> Lake: {{catch.lake}}</p>
        <p class='catch-info date'> Date: {{catch.date}}</p>
        <div class="button-div">
            <a class="button" href= "{% url 'edit-catch' pk=catch.pk %}">
            Edit
            </a>
        </div>
        <div class="button-div">
            <a class="button" href= "{% url 'delete-catch' pk=catch.pk %}">
            Delete
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}