{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class='profile-header'>

<h2 class='username-profile'>Welcome {{ user.username }}!</h2>
<a class='button' href= "{% url 'add-catch' %}">Add New Catch</a>


</div>

<div class="fishes">
    {% for catch in catches.all %}
    <div class='catch-deets'>
        <h5 class='catch-info'> {{catch.fish}} </h5>
        <div class="catch-image-div">
        <img class="card-image" src="{{catch.image.url}}">
        </div>
            <div class='size-weight'>
        <p class='catch-info'> Size: {{catch.size}}</p>
        <p class='catch-info'> Weight: {{catch.weight}}</p>
            </div>
        <p class='catch-info'> Lake: {{catch.lake.name}}</p>
        <p class='catch-info'> Date: {{catch.date}}</p>
        <a href="{% url 'show-map' pk=catch.lake.pk %}">View Catch Map</a>
        <div class="button-div">
            <a class="button" href= "{% url 'edit-catch' pk=catch.pk %}">
            Edit
            </a>
            <a class="button" href= "{% url 'delete-catch' pk=catch.pk %}">
            Delete
            </a>
        </div>
    </div>    
    {% endfor %}
</div>    
{% endblock %}