body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: rgb(245, 227, 204);
}

p {
    margin: 0;
}

.title {
    font-style: italic;
    font-size: 150px;
    text-align: center;
    padding: 1rem;
    background-color: rgb(0, 52, 0);
    color: rgb(245, 227, 204);
    font-family: 'SomethingFishy','fishhook', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    /* height: 12rem; */
    background-color: darkgreen;
    border: darkgreen solid 1rem;
}

.link {
    font-size: 20px;
    color: rgb(245, 227, 204);
    background-color: darkgreen;
    display: flex;
    justify-content: space-between;
}

.license {
    display: flex;
    justify-content: center;
    text-align: center;
}

.license-link {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.homepage-pic-div {
    display: flex;
    justify-content: center;
}

.homepage-pic {
    border-radius: 5rem;
    padding: 1rem;
    width: 800px;
}



.lake-name {
    padding: 1rem;
    font-size: 48px;
    text-align: center;
}

.lake-description {
    padding: 1rem;
}

.fishes {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.fishdeets {
    display: flex;
    flex-direction: column;
    /* border: 6px solid black; */
    border-radius: 1rem;
    width: 45%;
    margin: auto;
    align-items: center;
    background-color: white;
    box-shadow: -10px -9px 19px 0px rgba(0,0,0,0.75);
}

.fish-in-lake {
    padding: 1rem;
}

.fish-div {
    border: solid black .5rem;
    font-size: 20px;
    text-align: center;
}

.fish-img {
    width: 800px;
    border-radius: 7rem;
    border: solid black 3px
}

.fish-name {
    font-size: 48px;
}

.dropdown {
    margin-top: .5rem;
}


.identifiers {
    text-decoration: underline;
    font-size: 30px;
    margin-top: 1rem;
}

.regulation {
    margin-top: 1rem;
    text-decoration: underline;
    font-size: 30px;
}

.season {
    text-decoration: underline;
    font-size: 30px;
    margin-top: 1rem;
}

.citation {
    text-decoration: underline;
    font-size: 30px;
    margin-top: 1rem;
}

.found-in {
    text-decoration: underline;
    font-size: 30px;
    margin-top: 1rem;
}



.add-catch-form {
    padding: 1rem;
    font-size: 24px
}

.catch-form-title {
    margin: 1rem;
    font-size: 50px;
    text-align: center;
}

.profile-header {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    border-bottom: royalblue solid 1px;
    padding: 1rem;
}

.username-profile {
    padding: 2rem;
    font-size: 50px;
}

.catch-info {
    margin: 1rem;
}

.date {
    padding-bottom: 1rem;
}

.catch-div {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 1rem;
    border: 3px solid black;
    width: 85%
}

.button-div {
    display: flex;
    justify-content: space-between;
}

.starter{
    border: 5px solid aquamarine !important;
    width: 60%;
    margin: auto;
    font-weight: bold;
    align-content: center;
}

.questions{
    border: 5px solid red !important;
    width: 60%;
    padding: 1rem;
    margin: auto;
    font-weight: bold;
    align-content: center;
}
