* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: rgb(245, 227, 204);
}

.title {
    font-style: italic;
    font-size: 75px;
    text-align: center;
    padding: 1rem;
    background-color: darkgreen;
    color: rgb(245, 227, 204)
}

.header {
    height: 10rem;
    background-color: darkgreen;
    border: darkgreen solid 1rem;
}

.link {
    font-size: 20px;
    color: rgb(245, 227, 204);
    background-color: darkgreen;
    display: flex;
    justify-content: space-between;
}

.license {
    display: flex;
    justify-content: center;
    text-align: center;
}