* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: rgb(245, 227, 204);
}

p {
    margin: 0;
}

.title {
    font-style: italic;
    font-size: 150px;
    text-align: center;
    padding: 1rem;
    background-color: darkgreen;
    color: rgb(245, 227, 204);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    /* height: 12rem; */
    background-color: darkgreen;
    border: darkgreen solid 1rem;
}

.link {
    font-size: 20px;
    color: rgb(245, 227, 204);
    background-color: darkgreen;
    display: flex;
    justify-content: space-between;
}

.license {
    display: flex;
    justify-content: center;
    text-align: center;
}

.license-link {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.homepage-pic-div {
    display: flex;
    justify-content: center;
}

.homepage-pic {
    border-radius: 5rem;
    padding: 1rem;
    width: 800px;
}

.dropdown {
    margin: 1rem;
    margin-top: 3rem;
    background-color: lightslategrey;
}

.dropdown-menu {
    background-color: rgb(176, 176, 176);
}

.dropdown-trigger {
    background-color: purple
}

.lake-name {
    padding: 1rem;
    font-size: 48px;
    text-align: center;
}

.lake-description {
    padding: 1rem;
}

.fish-in-lake {
    padding: 1rem;
}

.fish-div {
    border: solid black .5rem;
    font-size: 20px;
    text-align: center;
}

.fish-img {
    width: 800px;
    border-radius: 7rem;
    border: solid black 3px
}

.fish-name {
    font-size: 48px;
}

.identifiers-div {

}

.identifiers {
    text-decoration: underline;
    font-size: 30px;
    margin-top: 1rem;
}

.regulation {
    margin-top: 1rem;
    text-decoration: underline;
    font-size: 30px;
}

.season {
    text-decoration: underline;
    font-size: 30px;
    margin-top: 1rem;
}

.citation {
    text-decoration: underline;
    font-size: 30px;
    margin-top: 1rem;
}

.found-in {
    text-decoration: underline;
    font-size: 30px;
    margin-top: 1rem;
}



.add-catch-form {
    padding: 1rem;
    font-size: 24px
}

.catch-form-title {
    margin: 1rem;
    font-size: 50px;
    text-align: center;
}

.save-button {
    background-color: purple;
    margin-top: 1rem;
    width: 5rem;
    height: 2rem;
}

.profile-header {
    border-bottom: royalblue solid 1px;
    padding: 1rem;
}

.username-profile {
    padding: 2rem;
    font-size: 50px;
}

.add-button {
    background-color: rebeccapurple;
    margin: 2rem;
    border-radius: 2rem;
    padding:1rem
}

.catch-info {
    margin: 1rem;
}

.date {
    padding-bottom: 1rem;
}

.catch-div {
    margin:1rem;
    padding-top: 1rem;
    font-size: 28px;
}

.edit-button {
    padding: 1rem;
    background-color: rebeccapurple;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.delete-button {
    padding: 1rem;
    background-color: rebeccapurple;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button-div {
    display: flex;
    justify-content: space-between;
}

